{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'recipes/css/teste.css' %}">
        <title>Testando</title>
    </head>

    <body>
        <header>
            <div class="container" style="background-color:#00BFFF;text-align:center">
                <nav class="menu">
                    <ul>
                        <li>
                            <a href="" ref="">teste</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </header>


    </body>
</html>